/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --display-decorative-item: none;
  --bg-color: #fff1f7;
  --border-style: 1px solid #353430;
  --border-style-hover: 1px solid rgba(50, 49, 45, 0.4);
  --menu-text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff0070;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --subtitle-color: #353430;
  --question-title-color: #353430;
  --link-shadow-color: #ff8dcb;
  --link-border-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --display-decorative-item: none;
    --bg-color: #fff1f7;
    --border-style: 1px solid #353430;
    --border-style-hover: 1px solid rgba(50, 49, 45, 0.4);
    --menu-text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff0070;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
    --question-title-color: #353430;
    --link-shadow-color: #ff8dcb;
    --link-border-color: #353430;
  }
}