/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', monospace;
  --bg-image: url(../images/cover-image-dark.png);
  --display-decorative-item: grid;
  --bg-color: #000028;
  --border-style: 1px solid #ff0070;
  --border-style-hover: 1px solid rgba(255, 0, 112, 0.4);
  --menu-text-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --question-title-color: #ff0070;
  --link-shadow-color: #ff0070;
  --link-border-color: #f1b2ce;
}
